<!DOCTYPE html>
<html>
  <head>
    <title>Kata App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">Kata App</a>
        <ul class="nav">
          <li class="menuitem active ">
            <a data-action="list" href="#">List</a></li>
          <li class="menuitem">
            <a data-action="tambah" href="#">Tambah</a></li>
        </ul>
      </div>
    </div>

    <div id="mainbox">

    </div>

    <script id="itemDetail" type="text/template">
      <h1> <%= kata %> </h1>
      <p> arti : <%= arti %> </p>
    </script>


    <script id="listFrame" type="text/template">
      <table class="table">
        <thead>
          <tr><th>Kata</th> <th>Arti</th><th>Aksi</th></tr>
        </thead>

        <%= content %>
      </table>
    </script>

    <script id="itemKata" type="text/template">
      <tr><td> <%= kata %> </td><td><%= arti %></td>
        <td>
          <a data-kata="<%= kata %>" data-action="view" class="btn">Lihat</a>
          <a data-kata="<%= kata %>" data-action="edit" class="btn">Sunting</a>
          <a data-kata="<%= kata %>" data-action="del" class="btn">Hapus</a>
        </td>
      </tr>
    </script>



    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>